.section-wrapper {
    width: 100%;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.header {
    background-image: url("../img/Sections background/section1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.nav-wrapper {
    padding: 33px 0;
    background-color: rgba(73, 71, 63, 0.6);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    display: flex;
    width: 142px;
    justify-content: space-between;
    align-items: center;


}
.navbar-logo-img {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    text-align: center;
    width: 35px;
    padding: 5px 15px 5px 15px;
    font-family: 'Montserrat', sans-serif;
    background: #18cfab;
    position: relative;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;

}

.navbar-logo-text {
    font-family: 'Montserrat', sans-serif;
    margin-left: 7px;
    color: white;
    font-size: 32px;

}

.navbar-logo-text span {
    color: #18cfab;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    width: 644px;
}

ul {
    list-style: none;
    padding: 0;
}

.nav-menu-item {
    font-family: 'Montserrat', sans-serif;
    color: #b8b8b8;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    position: relative;
}

.nav-menu-item:hover {
    color: #18cfab;
}
.nav-menu-item:hover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #18cfab;
    bottom: -52px;
}


.header-text {
    padding: 216px 0;
    text-align: center;
}
.navbar-search {
    display: flex;
}

.navbar-search-input {
    display: none;
}

.navbar-search-item {
    color: #b8b8b8;
}

.header-text-p1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
}

.header-text-p1 a {
    color: #18cfab;

}

.header-text-p2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 57px;
    margin: 20px;
    text-transform: uppercase;
}

.header-text-p3 {
    font-family: 'Montserrat', sans-serif;
    color: #cacaca;
    font-size: 32px;
    margin-bottom: 100px;

}

.btn {
    padding: 26px 32px;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montseratt', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 31px;
    color: #ffffff;
}
.btn-green{

    background-color: #18cfab;
}
.btn-blue {
    background-color: #00cbf6;
    margin-left: 28px;
}
.btn-green:hover, .btn-blue:hover {
    border-top: 4px solid #ffffff;
}
/*--------------------------------------header END  -------------------------------------*/
.section-options {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 100%;

}

.section-options-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: grid;
    grid-template-rows: repeat(2, 102px);
    align-items: center;
    justify-items: center;
    padding: 60px 0;
    font-size: 20px;
    text-transform: uppercase;

}

.section-options-item i {
    font-size: 97px;

}

.section-options-item-1 {
    background-color: #1c2a33;
    color: #18cfab;
    border-top: 5px solid #18cfab;
}

.section-options-item-2 {
    background-color: #18cfab;
    color: white;
    border-top: 5px solid white;
}
/*___________________Section Option ended______________________________________________________*/



/*/____________________section service_____________________*!*/
h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #4e4e4e;
    font-weight: normal;
    padding: 70px 0 40px 0;
    font-size: 36px;
    margin: 0;
}

.line-element {
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    opacity: 0.5;
    margin: 0 auto;
}

.line-element-1 {
    transform: translateX(-10px);
}

.line-element-2 {
    margin-top: 3px;
    margin-bottom: 50px;
}


.tabs-button-wrapper {
    display: flex;
    margin-bottom: 20px;
}

.tabs-button {
    font-family: 'Montserrat', sans-serif;
    width: 193px;
    text-align: center;
    font-size: 16px;
    color: #717171;
    border: 1px solid #eff0f1;
    background-color: #f8fcfe;
    padding: 20px;

}
.tabs-button:hover {
    background-color: #18cfab;
    color: white;
}
.tabs-button-active {
    background-color: #18cfab;
    color: white;
}


.hidden.tabs-item-active {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: #717171;
    font-size: 14px;
    line-height: 1.5;
}

.tabs-item-active img {
    margin-right: 10px;
}

.hidden {
    display: none;
}
/*____________________section tabs ended________________________________________*/


/*______________________section purchase___________________________________________*/

.section-purchase {
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url("../img/Sections background/section-2.jpg");
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    margin-top: 70px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 108px 0;

}

.section-purchase-header{
    text-transform: uppercase;
    color: #18cfab;
    font-size: 29px;
    font-weight: 700;
}

.section-purchase-p {
    color: white;
    font-size: 16px;
    padding-bottom: 80px;
}
/*____________________________section purchase ended______________________*/

/*________________________________section image*/

.section-image{
    text-align: center;
    background-color: #f8fcfe;
    padding-bottom: 70px;
}

.sort {
    width: 285px;
    height: 200px;
    position: relative;

}
.sort img {
    width: 100%;
    height: 100%;
}

.section-image-item {
    display: flex;
    width: 597px;
    margin: 0 auto;
    justify-items: center;
}

.image-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 16px;
    color: #717171;
    border: 1px solid #eff0f1;
    padding: 14px;
    background-color: white;
}

.image-title-active {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}
.image-title:hover {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.picture {
    margin: 0 auto;
    width: 1142px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 70px 0;
}

.opacity-element {
    position: absolute;
    top: 0;
    width: 286px;
    padding: 30px 0;
    font-family: 'Montserrat', sans-serif;
    border-top: 3px solid #18cfab;
    text-align: center;
    background-color: #f8fcfe;

}

.circle-icon {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    margin-right: 10px;

}
.circle-icon i {
    padding: 10px 0;
}

.circle-icon-1  i {
    color:  #18cfab;
}
.circle-icon-2 i {
    color: white;
}
.circle-icon-2 {
    background-color: #18cfab;
}

.opacity-element-text {
    font-size: 23px;
    color: #18cfab;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;

}

.opacity-element-text2 {
    font-size: 20px;
    color: #a7a8a9;
    margin-top: 10px;
}


.btn-load-more {
    width: 166px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 26px 32px;
    border-radius: 4px;
    background-color: #18cfab;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montseratt', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;

}
.hiddenImg {
    display: none;
}
.hiddenImg2 {
    display: none;
}

/*____________________________news_section_________________________*/

.news-rows{
    display: flex;
    justify-items: center;
}

.news-second-row {
    padding-top: 30px;

}

.news-item {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin-right: 30px;
    text-align: center;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
}

.news-item:hover .news-item-square {
    background-color: #18cfab;
}

.news-item:hover .news-item-p {
    color: #18cfab;
}


.news-item-p {
    color: #717171;
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0 8px 0;
}


.news-item-p2 {
    color: #808080;
    font-size: 14px;
    padding-bottom: 20px;
}

.news-item-p2 span {
    border-left: 1px solid #808080;
    margin-left: 10px;
    padding-left: 10px;

}

.news-item-square {
    position: absolute;
    bottom: 211px;
    left: 195px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #203e38;
    color: white;
    line-height: 1.5;

}

/*______________________________slider_________________*/
.section-review {
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../img/Sections background/section-3.jpg");
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    padding-bottom: 150px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 70px;

}

h4 {
    color: white;
}

.slider-text {
    padding-bottom: 27px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 27px;
}

.slider-text-opinion-about {
    padding-bottom: 43px;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.slider-text-respondent-name {
    margin: 0;
    text-transform: uppercase;
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
}

.slider-text-respondent-prof {
    margin: 0px;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
}

.slider-img {
    padding-bottom: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider-img-dots {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider-img-dot {
    border-radius: 50%;
    width: 7%;
    box-shadow: 0 0 0 8px rgba(31, 218, 181, 0.2);
}

.active-slide {
    border-radius: 50%;
    margin-bottom: 20px;
    outline: 50px solid transparent;
    border-style: double;
    color: #18cfab;
    background: #18cfab;
    box-shadow: 0 0 0 13px rgba(31, 218, 181, 0.2);
}

.prev-next {
    cursor: pointer;
    width: auto;
    padding: 7px 11px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border: 1px solid #ffffff;
}

.prev-next:hover {
    background-color: #18cfab;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*_______________________slick slider ended__________________________*/

/*____________________________masonry_______________________*/

.company-best-gallery-img {
    background-color: #f8fcfe;
}


.masonry-container{
padding-bottom: 70px;
}
.masonry {
    padding-bottom: 70px;
}

.masonry-item {
    margin: 5px 5px;
    position: relative;
}

.masonry-item-add-space img:first-child {
    margin-right: 4px;
}

.gutter-sizer {
    width: 370px;
}

.opacity-img, .opacity-img-size2, .opacity-img-size3 {
    position: absolute;
    opacity: 0;
    top: 0;
    background-color: rgba(60, 51, 56, 0.9);
    width: 100%;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opacity-img .fa-arrows-alt,
.opacity-img-size2 .fa-arrows-alt,
.opacity-img-size3 .fa-arrows-alt {
    background-color: #0cbad6;
    color: #ffffff;
    border-radius: 3px;
}

.opacity-img .fa-arrows-alt {
    margin-left: 10px;
    padding: 14px;
    font-size: 20px;
}

.opacity-img-size2 .fa-arrows-alt {
    margin-left: 7px;
    padding: 10px;
    font-size: 15px;
}

.opacity-img-size3 .fa-arrows-alt {
    margin-left: 5px;
    padding: 7px;
    font-size: 10px;
}

.opacity-img .fa-search,
.opacity-img-size2 .fa-search,
.opacity-img-size3 .fa-search {
    border-radius: 3px;
    background-color: #0cbad6;
    color: #ffffff;
    padding: 14px;
    font-size: 20px;
}

.opacity-img .fa-search {
    padding: 14px;
    font-size: 20px;
}

.opacity-img-size2 .fa-search {
    padding: 10px;
    font-size: 15px;
}

.opacity-img-size3 .fa-search {
    padding: 7px;
    font-size: 10px;
}

.masonry-item:hover
.opacity-img {
    opacity: 1;
    transition: all 0.6s;
}

.masonry-item:hover
.opacity-img-size2{
    opacity: 1;
    transition: all 0.6s;
}
.masonry-item:hover
.opacity-img-size3 {
    opacity: 1;
    transition: all 0.6s;
}

/*__________________________footer start__________________*/
.footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #22353f;
    color: #898e90;
    font-size: 14px;
    margin: 0;
}

.footer a {
    color: #19ba9d;

}